<div class="">
  <div class="card picture-item">
    <div class="row g-0">
      <div class="col-md-4">
        <img
          class="img-thumbnail photo bg-primary-subtle"
          [src]="'assets/pictures/' + pictureData?.imagePath"
          [alt]="pictureData?.name"
        />
      </div>
      <div class="col-md-8">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">{{ pictureData?.name }}</h5>
          <small>{{ getFormattedDate(pictureData?.dateTaken) }}</small>
        </div>
        <p class="mb-1">{{ pictureData?.description }}</p>
      </div>
    </div>
  </div>
</div>
