<mat-card appearance="outlined">
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <div *ngIf="!isLoading">
    <mat-card-header>
      <mat-card-title>{{ picture!.name }}</mat-card-title>
      <mat-card-subtitle>{{ picture!.dateTaken }}</mat-card-subtitle>
      <button
        mat-icon-button
        [matMenuTriggerFor]="menu"
        aria-label="Options"
        class="options-menu"
      >
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="onDelete()">
          <mat-icon>delete</mat-icon>
          <span>Delete Post</span>
        </button>
      </mat-menu>
    </mat-card-header>
    <img
      mat-card-image
      src="{{ picture?.imageData }}"
      alt="{{ picture?.name }}"
      class="post-image"
    />
    <mat-card-content>
      <p>
        {{ picture!.description }}
      </p>
    </mat-card-content>
  </div>
</mat-card>
