.post-dialog {
  max-width: 300px;
  overflow: hidden;
}

.post-title {
  margin-bottom: 10px;
}

.post-image {
  width: 300px;
  height: 300px;
}

.options-menu {
  position: absolute;
  right: 10px;
  top: 10px;
}

.post-date {
  font-size: 10px;
}

.post-description {
  font-size: 14px;
}
