<mat-card appearance="outlined" class="post-dialog">
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <div *ngIf="!isLoading">
    <mat-card-header class="post-title">
      <mat-card-title>{{ picture!.title }}</mat-card-title>
      <button
        mat-icon-button
        [matMenuTriggerFor]="menu"
        aria-label="Options"
        class="options-menu"
      >
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="onDelete()">
          <mat-icon>delete</mat-icon>
          <span>Delete Post</span>
        </button>
      </mat-menu>
    </mat-card-header>
    <img
      mat-card-image
      src="http://localhost:8080{{ picture?.fileData?.url }}"
      alt="{{ picture?.title }}"
      class="post-image"
    />
    <mat-card-content>
      <mat-card-subtitle class="post-date">{{
        picture!.dateTaken | date
      }}</mat-card-subtitle>
      <p class="post-description">
        {{ picture!.description }}
      </p>
    </mat-card-content>
  </div>
</mat-card>
